<div class="cursor-pointer icon-medium-size pt-3 pb-3" (click)="volver()"> <i class="bi bi-arrow-left  pr-2"></i>Atr&aacute;s</div>

<div class="d-flex">
    <div class="temas-container w-25">
        {{temarioElegido.nombre}}
    </div>
    <div class="w-75">
        <div class="list-group-item clearfix" *ngFor="let leccion of lecciones, let id = index">
            <div class="d-flex justify-content-between cursor-pointer" (click)="irALeccion(id)">
                <p>
                    <strong class="pr-2">{{(id + 1)}}</strong>{{leccion.nombre}}
                </p>
                <div class="icon-medium-size">
                    <i class="bi bi-eye" *ngIf="leccion.estaLeido"></i>
                    <i class="bi bi-eye-slash" *ngIf="!leccion.estaLeido"></i>
                </div>
            </div>
        </div>
    </div>
</div>