<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="col-xs-12 w-100 p-2 header d-flex">
            <div class="nav navbar-nav">
                <h1 id="titulo" class="pl-4 pt-1">Tarjetas</h1>
            </div>
            <div class="nav pr-4">
                <i class="bi bi-gear icons"></i>
                <i class="bi bi-grid-3x3-gap icons"></i>
                <i class="bi bi-box-arrow-in-right icons"></i>
            </div>  
        </div>
    </div>
</nav>