/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: #f0f0f0;
}

.cursor-pointer {
    cursor: pointer;
}

p {
    margin: 0;
}

.icon-medium-size {
    font-size: 1.3rem;
}

.temas-container {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 15px;
    background-color: #ffffff;
    height: 85px;
    
}
